@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html,
body {
  margin: 0;
  padding: 0;
}

.ant-tabs-top>.ant-tabs-nav::before {
  border-bottom: none;
}

.ant-tabs-ink-bar {
  margin-bottom: -2px;
}

.ant-tabs-nav-list {
  border-bottom: 2px solid rgba(0, 0, 0, 0.09);
}

.ant-tabs-tab {
  padding: 12px 10px;
}

.ant-tabs-tab+.ant-tabs-tab {
  margin: 0 0 0 22px;
}

.ant-row {
  margin: 32px;
}

.ant-pagination-item-active {
  background: #1890FF;
  border-radius: 4px;
}

.ant-pagination-item-active a {
  font-weight: normal;
  color: #FFF;
}

.ant-pagination-item-active:hover a {
  color: #FFF;
}

.ant-spin-lg .ant-spin-dot {
  font-size: 48px;
}